:root {
  /** primary **/
  --rr-color-primary: #3e92cc;

  /** secondary **/
  --rr-color-secondary: #829cbc;

  /** tertiary **/
  --rr-color-tertiary: #0ad3ff;

  /** dark **/
  --rr-color-dark: #13293d;

  /** success **/
  --rr-color-success: #f79256;
}