:root {
  /** primary **/
  --rr-color-primary: #3e92cc;

  /** secondary **/
  --rr-color-secondary: #829cbc;

  /** tertiary **/
  --rr-color-tertiary: #0ad3ff;

  /** dark **/
  --rr-color-dark: #13293d;

  /** active **/
  --rr-color-active: #f79256;

  /** alert **/
  --rr-color-alert: #dd1c1a;

  /** success **/
  --rr-color-success: #379634;
}